@model DashboardViewModel

<div class="row">
    <div class="col-md-6">
        <div class="widget-small primary">
            <h4>Total Customers</h4>
            <p><b>@Model.UserCount Customers</b></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="widget-small info">
            <h4>Total Products</h4>
            <p><b>@Model.ProductCount Products</b></p>
        </div>
    </div>
    <!-- Similar blocks for Bill Count and Low Stock Products -->
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Payment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bill in Model.BillsToday)
                {
                        <tr>
                            <td>@bill.BillId</td>
                            <td>@bill.User.UserName</td>
                            <td>@bill.Phone</td>
                            <!-- Other bill details -->
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>